# Python
__pycache__/
*.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-selfcheck.json

# Build artifacts
build/
_build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Run results
results/

# Source data
source_data/
Kraken_Trading_History/

# Generated documents
#docs/