[MAIN]
# init-hook is a more robust way to ensure pylint finds modules in a multi-root workspace.
init-hook='import sys; sys.path.insert(0, ".")'

[MESSAGES CONTROL]
disable=unused-argument,arguments-differ,unnecessary-ellipsis
