"""Tests for {{ dto_name }}."""
import pytest
from {{ module_path }} import {{ dto_name }}


class Test{{ dto_name }}:
    """Tests for {{ dto_name }} DTO."""

    def test_creation(self) -> None:
        """Test {{ dto_name }} can be created."""
        # TODO: Add test implementation with actual field values
        pass

    def test_immutability(self) -> None:
        """Test {{ dto_name }} is immutable (frozen dataclass)."""
        # TODO: Add test to verify frozen=True behavior
        pass

    def test_equality(self) -> None:
        """Test {{ dto_name }} equality comparison."""
        # TODO: Add test for __eq__ behavior
        pass
